.hero {
	color: #fff;
	text-align: center;
	padding: 100px 3.0rem;
	padding-top: 80px;
	background-image: linear-gradient(0deg,transparent 60%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.4) 100%),url('../../assets/images/Homepage_Masthead_Test_DESKTOP_3200x1320-v4c_6.16.20.jpg');
}

.hero .brand {
	font-size: 60px;
	margin: 50px 0px 20px;
}

.hero .brand span {
	color: coral;
}

.hero .heading {
	font-size: 44px;
	line-height: 1.2;
}

.hero .sub-heading {
	font-size: 24px;
}

.landing .channels {
	padding: 40px 0px;
	background-color: red;
	color: #fff;
	text-align: center;
}

.landing .channels .heading {
	text-transform: uppercase;
}

.landing .channels .channels-img {
	height: 30px;
}
